<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
</head>
<style>
    th,
    td {
        padding: 10px;
        text-align: left;
    }
</style>

<body>
    <h1>You searched for:
        <%= query %>
    </h1>
    <a href="/exercise-4">Search Again</a>
    <hr>
    <h2>Search History</h2>

    <table>
        <thead>
            <tr>
                <th>IP Address </th>
                <th>Browser</th>
                <th>Date </th>
                <th>Time</th>
                <th>SearchQuery</th>

            </tr>
        </thead>
        <tbody>

            <% if(lines){%>
                <%lines.forEach(row=> { %>
                    <tr>
                        <td>
                            <%= row[0] %>
                        </td>
                        <td>
                            <%= row[1] %>
                        </td>
                        <td>
                            <%= row[2] %>
                        </td>
                        <td>
                            <%= row[3] %>
                        </td>
                        <td>
                            <%= row[4]  %>
                        </td>

                    </tr>
                    <% });}%>
        </tbody>
    </table>

    <form action="/exercise-4/result" method="post">
        <input type="hidden" name="clear" value=true>
        <button>Clear History</button>
    </form>

    <div>
        <% if (pageno > 1) { %>
            <a href="/exercise-4?page=<%= pageno - 1 %>">Previous</a>
            <% } %>
                <span>Page <%= pageno %> of <%= totalPages %></span>
                <% if (pageno < totalPages) { %>
                    <a href="/exercise-4?page=<%= pageno + 1 %>">Next</a>
                    <% } %>
    </div>
</body>


</html>